
	

@roboto : 'Roboto', sans-serif;


@borderCol : #333;
@inputBg : rgba(255, 255, 255, 0.1);
@selectActiveBg : rgba(25, 25, 25, 0.9);
@calendarBg : rgba(25, 25, 25, 0.95);
@planetLabelBg : rgba(25, 25, 25, 0.7);
@txCol : #aaa;

body{
	margin:0;
	padding:0;
	font-family:@roboto;
	font-size:10px;
	color: @txCol;
	background: black;
	overflow:hidden;
}


.ui-datepicker{
	background:@calendarBg;
	border: 1px @borderCol solid;
	padding:20px;
	display:none;

	td{
		width:18px;
		height:18px;
		text-align:center;
		background: @inputBg;
	}

	a{
		color:white;
		text-decoration:none;
	}
}

.ui-slider{
	border-bottom:1px @borderCol solid;
	height:10px;
	position:relative;
	width:200px;

	.ui-slider-handle{
		background: @borderCol;
		width:10px;
		height:10px;
		.border-radius(50%);
		position:absolute;
		top:6px;
	}
}


#universe{

}

nav{
	position:absolute;
	z-index:1000;
	top:0;
	left:0;
	height: 45px;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	border-bottom:1px #888 solid;

	#gui{
		padding: 5px;
		
		.inputContainer{
			position:relative;
			min-height: 20px;
		}



		.dropdown{

			.display, li{
				cursor:pointer;
				overflow:hidden;
			}
			

			ul{
				list-style-type:none;
				margin:0;
				padding:0;
				font-weight:normal;
				position:absolute;
				display:none;
				.inputBox(@selectActiveBg);
				z-index:1000;

				li{
					margin:0;
					padding: 2px 8px;
					border-bottom: 1px black solid;
					white-space: nowrap;

					&.selected{
						.inputBox();
					}

					&:hover, &.selected{
						font-weight:bold;
						color:#fff;
					}

					&.disabled{
						font-weight:normal;
						color:@txCol;
						opacity:0.4;
					}
				}
			}

			&:hover{
				ul{
					display:block;
				}
			}
		}
		label{
			display:block;
			float:left;
			width:140px;
			margin: 0px 8px;
			& > span{
				display:block;
				font-weight:bold;
			}

			&#scenarioLabel{
				width: 180px;
			}
		}

		

		input, button{
			font-family:@roboto;
		}

		input, .display{
			.inputBox();
			padding:1px 3px;
			margin: 2px 0 0 0;
		}

		button{

			.inputBox();
			cursor:pointer;
			text-transform: uppercase;
		}
	}

}

.inputBox(@bg : @inputBg){
	background: @bg;
	border: 1px @borderCol solid;
	color:white;
}

.planetLabel{
	.unselectable();
	position:absolute;
	color:#fff;
	background:@planetLabelBg;
	padding:3px;
	font-size:9px;
	left: 24px;
	white-space: nowrap;
}

.planetSpot {
	.unselectable();
	@sz : 20px;
	width:@sz;
	height:@sz;
	position:absolute;
	border:1px #222 solid;
	.border-radius(50%);
	margin-top:-@sz / 2;
	margin-left:-@sz / 2;
}



#stats { 
	position: absolute;
	bottom:0;
	left: 0;
	#fps {
		background: transparent !important;
		#fpsText { color: #aaa !important; }
		#fpsGraph { display: none; }
	}
}


.unselectable(){
	cursor: default !important;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// Drop shadows
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

// Border Radius
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}