{
	"extends": "airbnb",
	"parser": "babel-eslint",
	env: {
		"browser": true,
	},
	rules: {
		"strict": [2, "global"],
		"space-before-function-paren": [2, "never"],
		"indent": [2, "tab"],
		"spaced-comment": 0,
		"padded-blocks": [0],
		"camelcase": [0],
		"no-nested-ternary": [0],
		"no-unused-vars": [1],
		"no-trailing-spaces": [0],
		"arrow-body-style": [0],
		"no-mixed-operators": [0],
		"newline-per-chained-call": [0],
		"no-use-before-define": [0],
		"prefer-template": [0],
		"no-continue": [0],
		"import/no-unresolved": [0],
		"no-return-assign": [0],
		"max-len": [0],
		"no-tabs": [0],
		"arrow-parens": [0],
		"no-multi-assign": [0],
		"import/no-extraneous-dependencies": [0],
		"import/prefer-default-export": [0],
		"global-require": [0],
		"no-bitwise": [0],
		"no-plusplus": [0],
		"no-console": ["warn", { allow: ["warn", "error"] }],
		"no-param-reassign": ["error", { "props": false }],
		"no-underscore-dangle": ["error", { "allowAfterThis": true }],
		"consistent-return": ["error", { "treatUndefinedAsUnspecified": true }],
		"import/no-webpack-loader-syntax": [0],
		"import/extensions": [0],
		"comma-dangle": ["error", {
			"arrays": "only-multiline",
			"objects": "only-multiline",
			"functions": "never"
		}]
	},
	"ecmaFeatures" : {
		"experimentalObjectRestSpread":true
	}
}
