body#jsorrery {
  opacity: 1;
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
  color: #aaa;
  background: black;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  height: 100vh; }
  body#jsorrery h1, body#jsorrery h2 {
    font-family: "Quattrocento", serif;
    font-weight: normal; }
  body#jsorrery a {
    color: #fff; }
  body#jsorrery .helpContent {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 150;
    background: rgba(0, 0, 0, 0.8);
    width: 60%;
    min-width: 400px;
    max-height: 80%;
    padding: 0;
    border-bottom: 1px #222 solid;
    font-family: "Quattrocento", serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.8em;
    color: #aaa;
    text-align: justify;
    overflow-y: scroll;
    opacity: 0;
    display: none;
    padding: 80px 20%; }
    body#jsorrery .helpContent h2 {
      color: #fff;
      text-shadow: 0 0 2px #555; }
  body#jsorrery .close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    font-size: 22px;
    transition-duration: 0.5s; }
    body#jsorrery .close:hover {
      color: #fff; }
    body#jsorrery .close.inflow {
      font-size: inherit;
      position: auto;
      right: auto;
      top: auto; }

#credits {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer; }

.planetLabel {
  cursor: default !important;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(25, 25, 25, 0.7);
  padding: 3px;
  font-size: 9px;
  left: 24px;
  white-space: nowrap;
  z-index: 50; }

.eventLabel {
  cursor: default !important;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  color: #fff;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  margin-left: -1px;
  margin-top: -1px;
  background: #fff; }
  .eventLabel .line {
    transform-origin: 0 0;
    width: 1px;
    height: 100px;
    border-left: 1px #333 solid;
    position: absolute;
    left: 1px; }
  .eventLabel .tx {
    position: absolute;
    background: rgba(25, 25, 25, 0.7);
    font-size: 9px;
    padding: 3px;
    white-space: nowrap;
    border-bottom: 1px #333 solid;
    text-align: center; }

.planetSpot {
  cursor: default !important;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border: 0.5px rgba(255, 255, 255, 0.2) solid;
  border-radius: 50%;
  margin-top: -10px;
  margin-left: -10px; }

.debug {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-size: 10px;
  z-index: 9999; }

#stats {
  position: absolute;
  bottom: 0;
  left: 0; }
  #stats #fps {
    background: transparent !important; }
    #stats #fps #fpsText {
      color: #aaa !important; }
    #stats #fps #fpsGraph {
      display: none; }

.preload {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000; }
  .preload .title {
    /*border-top: 1px #240a00 solid;
		border-bottom: 1px #151d37 solid;/**/
    color: #444;
    position: relative;
    top: 50%;
    height: 90px;
    width: 150px;
    margin: 0 auto;
    margin-top: -45px;
    text-align: center; }
    .preload .title h1, .preload .title h2 {
      cursor: default; }
    .preload .title h3 {
      color: orange; }
    .preload .title h1 {
      font-size: 20px;
      letter-spacing: 6px;
      text-transform: uppercase;
      margin: 16px 0;
      transition-duration: 1s;
      color: #aaa;
      text-shadow: 0 0 2px #555; }
    .preload .title h2 {
      font-size: 12px;
      margin: 12px 0;
      letter-spacing: 6px; }
  .preload .orbit {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px #333 solid;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -100px;
    animation: orbit 2s infinite linear; }
    .preload .orbit .planet {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background: #333;
      position: absolute;
      top: 97px;
      left: -3px; }

@keyframes orbit {
  0% {
    -webkit-transform: perspective(600px) rotateX(65deg) rotateY(25deg) rotateZ(0deg); }
  100% {
    -webkit-transform: perspective(600px) rotateX(65deg) rotateY(25deg) rotateZ(360deg); } }

#status {
  height: 40px;
  padding: 10px 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  #status div {
    -ms-flex-positive: 2;
        flex-grow: 2; }
    #status div#dateDisplay {
      height: 10px; }

nav#gui {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background: rgba(0, 0, 0, 0.5);
  border-right: 1px #222 solid;
  overflow: hidden;
  transition: all 0.5s; }
  nav#gui.collapsed {
    height: 80px; }
  nav#gui.faded {
    opacity: 0.5; }
  nav#gui #navCollapse {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    cursor: pointer;
    border-top: 1px #222 solid;
    border-bottom: 1px #222 solid;
    background: #090909;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: #222; }
    nav#gui #navCollapse:hover {
      color: white; }
  nav#gui .help {
    top: -2px;
    display: inline-block;
    font-size: 11px;
    line-height: inherit;
    height: 18px;
    width: 18px;
    margin-left: 3px;
    font-weight: normal;
    cursor: pointer;
    opacity: 0.7; }
    nav#gui .help:hover {
      opacity: 1; }
  nav#gui label {
    display: none;
    position: relative;
    margin: 5px 8px;
    padding: 0 20px;
    height: 45px; }
    nav#gui label.shown {
      display: block; }
    nav#gui label > div {
      display: block;
      font-weight: bold; }
    nav#gui label .inputContainer {
      position: relative;
      min-height: 20px; }
  nav#gui .dropdown .display, nav#gui .dropdown li {
    cursor: pointer;
    overflow: hidden;
    width: 100%; }
  nav#gui .dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
    position: absolute;
    display: none;
    background: #191919;
    border: 1px #333 solid;
    color: white;
    z-index: 1000; }
    nav#gui .dropdown ul li {
      margin: 0;
      padding: 3px 8px;
      border-bottom: 1px black solid;
      white-space: nowrap; }
      nav#gui .dropdown ul li.selected {
        background: rgba(255, 255, 255, 0.1);
        border: 1px #333 solid;
        color: white; }
      nav#gui .dropdown ul li:hover, nav#gui .dropdown ul li.selected {
        font-weight: bold;
        color: #fff; }
      nav#gui .dropdown ul li.disabled {
        font-weight: normal;
        color: #aaa;
        opacity: 0.4; }
  nav#gui .dropdown:hover ul {
    display: block; }
  nav#gui input:focus, nav#gui button:focus {
    outline: 0; }
  nav#gui input {
    font-size: 12px;
    font-family: helvetica, arial, sans-serif;
    width: 100%; }
  nav#gui input, nav#gui .display {
    background: rgba(255, 255, 255, 0.1);
    border: 1px #333 solid;
    color: white;
    padding: 1px 3px;
    margin: 2px 0 0 0; }
  nav#gui button {
    background: transparent;
    color: white;
    border: 0;
    opacity: 0.7;
    font-size: 18px;
    text-align: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
    transition-duration: 0.5s; }
    nav#gui button:hover {
      opacity: 1; }
    nav#gui button#start {
      font-size: 32px; }
  nav#gui input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 4.5px 0;
    border: 0; }
  nav#gui input[type=range]:focus {
    outline: none; }
  nav#gui input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #333333;
    border-radius: 0px;
    border: 0; }
  nav#gui input[type=range]::-webkit-slider-thumb {
    border: 0;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #333333;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4.5px; }
  nav#gui input[type=range]:focus::-webkit-slider-runnable-track {
    background: #404040; }
  nav#gui input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #333333;
    border-radius: 0px;
    border: 0px solid #010101; }
  nav#gui input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #333333;
    cursor: pointer; }
  nav#gui input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  nav#gui input[type=range]::-ms-fill-lower {
    background: #262626;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d; }
  nav#gui input[type=range]::-ms-fill-upper {
    background: #333333;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d; }
  nav#gui input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #333333;
    cursor: pointer;
    height: 1px; }
  nav#gui input[type=range]:focus::-ms-fill-lower {
    background: #333333; }
  nav#gui input[type=range]:focus::-ms-fill-upper {
    background: #404040; }
  nav#gui #shareWidget {
    background: black;
    display: none; }
    nav#gui #shareWidget input#shareUrl {
      margin: 6px 0; }
